@model HadiyahServices.DTOs.Product.ProductCreateDto

@{
    ViewBag.Title = "Create Product";
    var categories = ViewBag.Categories.Data;
}

<h2>Add Product</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data" class="card p-4 shadow-sm">

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label>Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Stock Quantity</label>
        <input asp-for="StockQuantity" class="form-control" />
        <span asp-validation-for="StockQuantity" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Category</label>
        <select asp-for="CategoryId" class="form-control">
            <option value="">Choose...</option>
            @foreach (var c in categories)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label>Image File</label>
        <input type="file" name="imageFile" class="form-control" />
    </div>

    <button class="btn btn-primary w-100">Create</button>

</form>
